header.navbar.navbar-fixed-top.navbar-inverse
  div.container
    = link_to "RSVR", '#',id:'logo'

    nav
      ul.nav.navbar-nav.navbar-right
        li= link_to "Home",   '#'
        li= link_to "Help",   '#'
        li= link_to "User Log in", '#'
        li= link_to "Administrators Log in"
